:root {
    --width-rect: 32px;
    --height-rect: 32px;
}

* {
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    background: #0099ff;
}

body {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

<<<<<<< HEAD
div.square {
    counter-increment: rect;
    position: absolute;
    width: var(--width-rect);
    height: var(--height-rect);
    background: #000000;
=======
@keyframes mov {
    100% { background-position-x: -100px;}
}
img {
    animation: mov 5s steps(10) infinite;
>>>>>>> origin/main
}