:root {
    --spr-width: 24px;
    --spr-height: 44px;
}

* {
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

body {
    background: url("../imgs/bg.png") no-repeat;
}

.main {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.bg {
    position: relative;
    width: var(--spr-width);
    height: var(--spr-height);
    animation: world-walk 32s linear forwards;
    transform: scale(2);
}

.marle {
    position: relative;
    background: url("../imgs/marle.png");
    image-rendering: pixelated;
    width: var(--spr-width);
    height: var(--spr-height);
    animation-name: wleft, wdown, wright, wdown, wright, wup, wleft, wup, wright, wup, wleft, wdown, wleft, wup, wleft, wdown; 
    animation-duration: 1s;
    animation-timing-function: steps(5);
    animation-iteration-count: 2;
    animation-delay: 0s, 2s, 4s, 6s, 8s, 10s, 12s, 14s, 16s, 18s, 20s, 22s, 24s, 26s, 28s, 30s;
}

@keyframes world-walk {
    0% {
        left: 25%;
        top: 25%;
    }
    6.4% {
        left: 15%;
        top: 25%;
    }
    12.8% {
        left: 15%;
        top: 55%;
    }
    19.2% {
        left: 45%;
        top: 55%;
    }
    25.6% {
        left: 45%;
        top: 75%;
    }
    32% {
        left: 75%;
        top: 75%;
    }
    38.4% {
        left: 75%;
        top: 50%;
    }
    44.8% {
        left: 60%;
        top: 50%;
    }
    51.2% {
        left: 60%;
        top: 40%;
    }
    57.6% {
        left: 75%;
        top: 40%;
    }
    64% {
        left: 75%;
        top: 25%;
    }
    70.4% {
        left: 55%;
        top: 25%;
    }
    76.8% {
        left: 55%;
        top: 40%;
    }
    83.2% {
        left: 35%;
        top: 40%;
    }
    89.6% {
        left: 35%;
        top: 12.5%;
    }
    96% {
        left: 25%;
        top: 12.5%;
    }
    100% {
        left: 25%;
        top: 25%;
    }
}

@keyframes wdown {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: -120px 0px;
    }
}


@keyframes wup {
    from {
        background-position: 0px -44px;
    }
    to {
        background-position: -120px -44px;
    }
}

@keyframes wright {
    from {
        background-position: 0px -88px;
    }
    to {
        background-position: -120px -88px;
    }
}

@keyframes wleft {
    from {
        background-position: 0px -132px;
    }
    to {
        background-position: -120px -132px;
    }
}